<form method="post" action="/names">
  <input type="text" name="P1_name" value="Player 1 name:" />
  <input type="text" name="P2_name" value="Player 2 name:" />
  <input type="submit" value="Play!" />
</form>
