<h1> Battle! </h1>

<h2> Sign in to play </h2>

<form method="post" action="/names">
  <label for="P1_name">
    <input type="text" name="P1_name" value="Player 1 name:" />
  </label>
  <label for="P2_name">
    <input type="text" name="P2_name" value="Player 2 name:" />
  </label>
  <input type="submit" value="Play!" />
</form>
