
<div>
  <%= @game.player_1.name %> vs. <%= @game.player_2.name %>
</div>
<div>
  <%= @game.player_2.name %>'s HP: <%= @game.player_2.hit_points %>
</div>
<div>
  <a href='/attack'>Attack!</a>
</div>
